@import 'styles/mixin.scss';

.container {
  height: 100%;
  width: 100%;
  &__title {
    height: 54px;
    font-family: 'sf_Bold';
    font-size: 16px;
    margin-bottom: 16px;
    padding: 0 32px;
    display: flex;
    align-items: center;
    border-radius: 4px;
  }
}

.info {
  display: flex;
  flex-wrap: wrap;
}
.subnet {
  padding: 0 20px;
  margin-bottom: 20px;
  &__selector {
    height: 40px;
    display: flex;
    align-items: center;
    &-title {
      width: 100px;
      font-family: 'sf_Medium';

      font-size: 16px;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-bottom: 4px;
    &-title {
      width: 100px;
      font-family: 'sf_Medium';
    }
    &-value {
      flex: 1;
    }
  }
}

.action {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.button {
  @include containerCentered();
  margin: spacing(2.5) !important;
  height: 32px;
  min-width: 100px !important;
  border-radius: 3px;
  cursor: pointer;
}

.footer {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.table {
  height: calc(100% - 165px - 72px);
  border: 1px solid #eceff3;
  margin: 0 20px;
  //   &.loading {
  //     @include containerCentered();
  //   }
}

.form-control {
  min-width: 270px !important;
}

.circular-progress {
  margin: 10px;
}
