@import 'styles/mixin.scss';

.container {
  height: 100%;
  width: 100%;
}

.info {
  height: 165px;
  display: flex;
}
.subnet {
  width: 100%;
  padding: 20px;
  color: #3b3b3b;
  &__title {
    font-family: 'rbt_Bold';
    font-size: 16px;
    margin-bottom: 16px;
  }

  &__selector {
    height: 40px;
    display: flex;
    align-items: center;
    &-title {
      width: 100px;
      font-family: 'rbt_Bold';

      font-size: 16px;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-bottom: 4px;
    &-title {
      width: 100px;
      font-family: 'rbt_Bold';
    }
    &-value {
      flex: 1;
    }
  }
}

.action {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  .button {
    @include containerCentered();
    margin: spacing(2.5);
    padding: 0 spacing(2.5);
    height: 32px;
    min-width: 100px;
    border-radius: 3px;
    cursor: pointer;
    &.primary {
      background-color: #0052cc;
    }
    &.secondary {
      background-color: #bf2600;
    }
  }
}

.footer {
  height: 72px;
}
.table {
  height: calc(100% - 165px - 72px);
  border: 1px solid #eceff3;
  margin: 0 20px;
  overflow: auto;
  &.loading {
    @include containerCentered();
  }
}
