body {
  margin: 0;
  padding: 0 !important;
  height: 100%;
  width: 100%;
  font-family: 'rbt_Regular';
  font-weight: 400;
  font-size: 14px;
  overflow: hidden;
}

@font-face {
  font-family: 'rbt_Regular';
  src: url('styles/fonts/SFProTTF/SFProDisplay-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'rbt_Medium';
  src: url('styles/fonts/SFProTTF/SFProDisplay-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'rbt_Bold';
  src: url('styles/fonts/SFProTTF/SFProDisplay-Bold.ttf') format('truetype');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root {
  height: 100vh;
  width: 100vw;
}
